*{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image:  url("./imagens/fundo.jpg");
    position: relative;
}
div{
    text-align: left;
    padding-left: 150px;
    padding-right: 50px;
}
header{
    display: block;
    position: sticky;
    top: 0;
    color: white;
    background-color: rgb(167, 20, 20);;
    text-align: center;
    font-size: 35px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding: 0;
}
ul{
    text-decoration: none;
}
h1{
    text-align: left;
    padding-left: 150px;
    font-size: 50px;
    color: rgb(167, 20, 20);
    font-weight: bolder;
}
#menu{
}
a{
    color: white;
}
a:link, a:visited{
    text-decoration: none;
}
a:active{
    color: black;
}
#logo{
    text-align: left;
    padding: 0;
}
#pessoal{
    padding-top: 40px;
    /* height: 300px; */
    font-size: 20px;

}
#experiencias{
    padding-top: 40px;
    /* height: 300px; */
    font-size: 20px;

}
#projetos{
    padding-top: 40px;
    /* height: 300px; */
    font-size: 20px;
    text-align: center;
}
#contato{
    padding-top: 40px;
    /* height: 300px; */
    font-size: 20px;
}
nav li{
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px;
}
footer{
    background-color: rgb(167, 20, 20);
    height: 100px;
    width: 100%;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
}
.icones{
    padding-top: 25px;
    height: 50px;
    width: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.icones_experiencia{
    width: 90px;
    height: 90px;
}
#icone_labenu{
    height: 90px;
    width: 160px;
}
footer div{
    text-align: center;
}
.main{
    margin-top: 20px;
}
.telas_projetos{
    height: 300px;
    width: 500px;
    border: solid black 2px;
}
.telas_projetos:hover{
    opacity: 50%;
}
#footer_contato{
    position: fixed;
}
/* #f_texto{
    height: 80px;
} */