.littlecard-container{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px 10px;
    height: 70px;
}

.littlecard-container > img{
    width: 40px;
    margin-right: 10px;
}

.littlecard-container > div{
    display: flex;
    justify-items: flex-end;
}

.littlecard-container > div > p{
    padding-left: 10px;
}

